button {
  cursor: pointer;
}

.addcart-main {
  height: 100%;
  width: 70%;
  margin: 10px auto;
  display: flex;
  border-radius: 10px;
  align-items: center;
  /* justify-content: space-between; */
  /* align-items: center; */

  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.addcart-image {
  flex: 1;
  display: flex;
  align-items: center;
}

.addcart-image img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 0px 15px;
}

.image-name {
  font-size: 20px;
  /* margin-left: -127px; */
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
}

.addcart-buttons {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.addcart-buttons button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  background-color: #f59e0d;
  color: white;
}

.addcart-buttons p {
  padding: 0px 10px;
  margin-top: 16px;
}

.addcart-price {
  font-size: 20px;
  width: 140px;
  flex: 1;
  display: flex;
  align-items: center;
}

.addcart-delete button {
  height: 30px;
  width: 60px;
  border: none;
  color: white;
  background-color: red;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 13px;
}

.productNotAdd {
  height: auto;
  width: 100vw;
}

.productNotAdd img {
  height: 40vw;
  width: 100vw;
  object-fit: contain;
}

.order {
  margin-top: 10px;
  width: 81%;
  display: flex;
  justify-content: end;
}

.order button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #f59e0d;
  border: transparent;
  color: white;
  font-size: 20px;
}
